.footer-custom {
    background-color: #00496A;
    padding: 2rem 1rem;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 1.5rem;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
  }
  
  .footer-section h4 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: #fff;
  }
  
  .footer-section p, .footer-section ul {
    color: #fff;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 0.5rem;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-section ul li a:hover {
    color: #007bff;
  }
  
  .social-icons {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  
  .social-icons i {
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .social-icons i:hover {
    color: #fff;
  }
  
  .footer-bottom {
    border-top: 1px solid #ddd;
    padding-top: 1rem;
    color: #fff;
  }